@model Blog.Web.Models.FerramentasDoBlogViewModel

@using (Html.BeginForm("Pesquisar", "Blog", FormMethod.Post))
{
    <div class="col-md-3">
        <!-- Search Bar -->
        <div class="headline headline-md"><h2>Pesquisar</h2></div>
        <div class="input-group margin-bottom-40">
            @Html.TextBoxFor(model => model.TermoDePesquisa, new { @class = "form-control", @placeholder = "pesquisar"})
            @*<input type="text" id="textBoxTermoDePesquisa" class="form-control" placeholder="pesquisar">*@
            <span class="input-group-btn">
                <button class="btn-u" id="botaoPesquisar" type="submit">Go</button>
            </span>
        </div>
        <!-- End Search Bar -->
        <div class="headline headline-md"><h2>Recente</h2></div>
        <ul class="list-unstyled blog-latest-posts margin-bottom-50">
            @foreach (var post in Model.UltimosCincoPosts)
            {
                <li>
                    <h3><a href="~/@post.Url">@post.Titulo</a></h3>
                    <small>@post.DataPorExtenso/ @post.Tags</small>
                    <p>@Html.Raw(post.Conteudo)</p>
                </li>
            }
        </ul>
        <div class="headline headline-md"><h2>Arquivo</h2></div>
        <ul id="postsAgrupados" class="list-unstyled blog-trending margin-bottom-50">
            @foreach (var postAgrupadoPorMesAno in Model.ArvoreDePosts.PostsAgrupadosPorMesEAno)
            {
                <li>
                    <a href="@postAgrupadoPorMesAno.UrlParaDetalhar">@postAgrupadoPorMesAno.MesEAnoFormato</a>
                </li>
                <li>
                    <ul>
                        @foreach (var post in postAgrupadoPorMesAno.Posts)
                    {
                            <li><a href="@post.UrlParaDetalhar">@post.Titulo</a></li>
                        }
                    </ul>
                </li>
            }
        </ul>
        <!-- End Latest Links -->
        <!-- Tags v2 -->
        <div class="headline headline-md"><h2>Tags</h2></div>
        <ul class="list-unstyled blog-tags margin-bottom-30">
            @foreach (var tag in Model.Tags)
            {
                <li>@Ajax.ActionLink(tag, "ListarPostsPorTag", "Blog", new { tag = tag }, new AjaxOptions { UpdateTargetId = "divConteudo" })<i class="fa fa-tags"></i></li>
            }
        </ul>
        <!-- End Tags v2 -->
        <div class="headline headline-md"><h2>Inscreva-se</h2></div>
        <!-- Blog Newsletter -->
        <div class="blog-newsletter">
            <p>Inscreva-se para receber um email com os posts criados, enviado mensalmente.</p>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Email">
                <span class="input-group-btn">
                    <button class="btn-u" type="button">Inscreva-se</button>
                </span>
            </div>
        </div>
        <!-- End Blog Newsletter -->
    </div>
}

