@using Blog.Web.Models

@model BlogViewModel

<div class="row">
    @Html.HiddenFor(model => model.PaginaAtual)
    <div class="col-md-9">
        <!-- Blog All Posts -->
        <div id="divPosts">
            @{ Html.RenderPartial("Posts", Model.Posts); }
        </div>
        <!-- Pager v3 -->
        <ul class="pager pager-v3 pager-sm no-margin-bottom">
            <li class="previous"><a id="linkAntigos">← Antigos</a></li>
            <li class="page-amount">1 de @Model.QuantidadeDePaginas</li>
            <li class="next"><a id="linkNovos">Novos →</a></li>
        </ul>
    </div>
    <!-- End Pager v3 -->
    <!-- Blog Sidebar -->
    @{ Html.RenderAction("BarraLateral"); }
    <!-- End Blog Sidebar -->
</div>

<script>

    $("#linkAntigos").click(function () {
        alert(@Model.PaginaAtual)
        $.ajax({
            type:"GET",
            url: "@Url.Action("Posts", "Blog")",
            contentType: 'application/html; charset=utf-8',
            data:{ paginaAtual: @Model.PaginaAtual + 1 },
            success: function(html){
                $("#divPosts").html(html);
            }
        });
    });
</script>