@using Blog.Web.Models

@model BlogViewModel

<div class="row">
    @Html.HiddenFor(model => model.PaginaAtual)
    <div class="col-md-9">
        <!-- Blog All Posts -->
        <div id="divPosts" class="bg-color-white">
            @{ Html.RenderPartial("Posts", Model.Posts); }
        </div>
        <!-- Pager v3 -->
        <ul class="pager pager-v3 pager-sm no-margin-bottom">
            <li class="previous"><a id="linkAntigos" style="cursor:pointer">← Antigos</a></li>
            <li class="page-amount"><label id="divPaginaAtual">1</label> de @Model.QuantidadeDePaginas</li>
            <li class="next"><a id="linkNovos" style="cursor:pointer">Novos →</a></li>
        </ul>
    </div>
    <!-- End Pager v3 -->
    <!-- Blog Sidebar -->
    @{ Html.RenderAction("BarraLateral"); }
    <!-- End Blog Sidebar -->
</div>

<script>
    function listarPostsMaisAntigos(){
        var paginaAtual = $("#PaginaAtual").val();
        var paginaDeDestino = parseInt(paginaAtual) + 1;
        paginaDeDestino = paginaDeDestino <= @Model.QuantidadeDePaginas ? paginaDeDestino :  @Model.QuantidadeDePaginas;
        listarPosts(paginaDeDestino);
    }

    function listarPostsMaisNovos(){
        var paginaAtual = $("#PaginaAtual").val();
        var paginaDeDestino = parseInt(paginaAtual) - 1;
        paginaDeDestino = paginaDeDestino > 0 ? paginaDeDestino : paginaAtual;
        listarPosts(paginaDeDestino);
    }

    function listarPosts(paginaDeDestino){
        $.ajax({
            //type: "GET",
            url: "@Url.Action("Posts", "Blog")",
            contentType: 'application/html; charset=utf-8',
            data: { paginaAtual: paginaDeDestino },
            success: function (html) {
                $("#PaginaAtual").val(paginaDeDestino);
                $("#divPaginaAtual").html(paginaDeDestino);
                $("#divPosts").html(html);
                document.getElementById('divCabecalho').scrollIntoView();
            }
        });
    }

    $("#linkAntigos").click(function () {
        listarPostsMaisAntigos();
    });

    $("#linkNovos").click(function () {
        listarPostsMaisNovos();
    });
</script>