@model Blog.Web.Models.NovoPostViewModel

<div>
    @using (Html.BeginForm("Salvar", "Blog", FormMethod.Post, new { @id = "formularioNovoPost", @class = "sky-form" }))
    {
        @*@Html.HiddenFor(model => model.Url)*@
        @Html.HiddenFor(model => model.Codigo)
        <header>Novo Post</header>
        <fieldset>
            <section class="col col-8" style="padding:0px;">
                <label class="label">Título</label>
                <label class="input">
                    @Html.TextBoxFor(model => model.Titulo)
                </label>
            </section>
            <section class="col col-2">
                <label class="label">Tags</label>
                <label class="input">
                    @Html.TextBoxFor(model => model.Tag)
                </label>
            </section>
            <section class="col col-2">
                <label></label>
                <div class="">
                    <input id="botaoDeAdicionarTag" type="button" value="Adicionar" class="btn-u btn-u-blue" />
                </div>
            </section>
            <section>
                <table>
                    <tr id="linhaDeTags">
                        @foreach (var tag in Model.Tags)
                        {
                            <td style="padding-right:15px;"><a id="linkTag" data-tag="@tag" class="glyphicon glyphicon-tag" style="text-decoration:none;"></a> @tag</td>
                        }
                    </tr>
                </table>
            </section>
            <section class="col-8">
                <label class="label">Imagem da capa</label>
                <label class="input">
                    @Html.TextBoxFor(model => model.CaminhoDaImagemDaCapa)
                </label>
            </section>
            <div class="row">
                <section>
                    @Html.TextAreaFor(model => model.Conteudo, new { @class = "ckeditor" })
                </section>
            </div>
        </fieldset>

        <footer>
            <button id="btnSalvarNovoPost" type="button" class="btn-u">Salvar</button>
            <button type="button" class="btn-u btn-u-default" onclick="window.history.back();">Voltar</button>
        </footer>    

    }
</div>
<script>
    $("#botaoDeAdicionarTag").click(function () {
        if ($("#Tag").val() != "") {
            $("#linhaDeTags").append('<td style="padding-right:15px;"><a class="glyphicon glyphicon-tag" href="@Url.Action("DeletarTag", "Blog", new { tag = Model.Codigo })" style="text-decoration:none;"></a> <span>' +$("#Tag").val() + '</span></td>');
        }
    });

    $("#btnSalvarNovoPost").click(function () {
        var conteudo = CKEDITOR.instances['Conteudo'].getData();
        var tags = [];
        $("#linhaDeTags").find('td').each(function () {
            tags.push($(this).children("span").text());
        });
        $.ajax({
            type: "POST",
            url: "@Url.Action("Salvar", "Blog")",
            traditional: true,
            data: { Codigo: $("#Codigo").val(), Titulo: $("#Titulo").val(), Tags: tags, Url: $("#Url").val(), Conteudo: conteudo, CaminhoDaImagemDaCapa: $("#CaminhoDaImagemDaCapa").val() },
            success: function (data) {
               //alert(data.NotificacaoDeSucesso);
            }
        });
    });
    $("#linkTag").click(function () {
        debugger;
        var td = $(this).parent();
        $.ajax({
            type: "POST",
            url: "@Url.Action("DeletarTag", "Blog")",
            traditional: true,
             data: { tag : $(this).attr("data-tag"), codigoDoPost : @Model.Codigo },
             success: function (data) {
                 td.remove("");
             }
        });
    });
</script>