@using GravatarHelper.Extensions
@model Blog.Web.Models.PostDetalhadoViewModel

<!--=== Blog Posts ===-->

<div class="row blog-page blog-item">
    <!-- Left Sidebar -->
    <div class="col-md-9 md-margin-bottom-60">
        <!--Blog Post-->
        <div class="blog margin-bottom-40">
            <h2><a href="">@Model.Titulo</a></h2>
            <div class="blog-post-tags">
                <ul class="list-unstyled list-inline blog-info">
                    <li><i class="fa fa-calendar"></i> @Model.DataPorExtenso</li>
                    <li><i class="fa fa-pencil"></i> Breno Sarkis</li>
                    <li><i class="fa fa-comments"></i> <a href="#">@Model.ContagemDeComentarios Comentários</a></li>
                    <li><i class="fa fa-tags"> @Model.Tags</i></li>
                </ul>
            </div>
            <div class="blog-img">
                <img class="img-responsive full-width" src="@Model.CaminhoDaImagemDaCapa" alt="">
            </div>
            @Html.Raw(Model.Conteudo)
        </div>
        <!--End Blog Post-->
        <hr>
        <!-- Recent Comments -->
        <div class="media">
            <h3>Comentários</h3>
            @foreach (var comentario in Model.Comentarios)
            {
                <a class="pull-left" href="#">
                   @Html.Gravatar(comentario.Email, 80, GravatarHelper.DefaultImageMonsterId, new { Title = "Gravatar", Alt = "Gravatar", @class = "media-object" })
                </a>
                <div class="media-body">
                    <h4 class="media-heading">@comentario.Nome <span>@comentario.Data</span></h4>
                    <p>@comentario.Mensagem</p>
                    <hr>
                </div>
            }
        </div>
        <!-- End Recent Comments -->
        <hr>
        @{ @Html.Action("Comentario", new Blog.Web.Models.ComentarioViewModel { UrlDoPost = Model.Url }); }
    </div>
    <!-- End Left Sidebar -->
    <!-- Right Sidebar -->
    @{ Html.RenderAction("BarraLateral"); }
    <!-- End Right Sidebar -->
</div><!--/row-->
<!--=== End Blog Posts ===-->
<!--=== Footer Version 1 ===-->
