<!DOCTYPE html>
<html>
<head>
    <title>Breno Sarkis - Your best blog engine!</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">
    <!-- Web Fonts -->
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="~/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <!-- CSS Header and Footer -->
    @*<link rel="stylesheet" href="../assets/css/headers/header-default.css">*@
    <link rel="stylesheet" href="~/assets/css/headers/header-v8.css">
    <link rel="stylesheet" href="~/assets/css/footers/footer-v2.css">
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="~/assets/plugins/animate.css">
    <link rel="stylesheet" href="~/assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="~/assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fancybox/source/jquery.fancybox.css">
    <link rel="stylesheet" href="~/assets/plugins/login-signup-modal-window/css/style.css">
    <link rel="stylesheet" href="~/assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="~/assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="~/assets/css/custom.css">
    <link rel="stylesheet" href="~/assets/css/pages/blog.css">
    <link href="~/assets/css/theme-colors/dark-blue.css" rel="stylesheet" />
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
</head>
<body>
    <div class="header-v8 header-sticky">
        <!-- Topbar blog -->
        <div class="blog-topbar" id="divCabecalho">
            <div class="topbar-search-block">
                <div class="container">
                    <form action="">
                        <input type="text" class="form-control" placeholder="Search">
                        <div class="search-close"><i class="icon-close"></i></div>
                    </form>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-xs-8">
                        @*<div class="topbar-time">Friday, Mar 13th 2015</div>
                            <div class="topbar-toggler"><span class="fa fa-angle-down"></span></div>
                            <ul class="topbar-list topbar-menu">
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Forums</a></li>
                                <li class="cd-log_reg hidden-sm hidden-md hidden-lg"><strong><a class="cd-signin" href="javascript:void(0);">Login</a></strong></li>
                            </ul>*@
                    </div>
                    <div class="col-sm-4 col-xs-4 clearfix">
                        <ul class="topbar-list topbar-log_reg pull-right visible-sm-block visible-md-block visible-lg-block">
                            <li class="cd-log_reg home">
                                @Html.ActionLink("Login", "Login", "Administrador", null, new { @class = "cd-signin" })
                            </li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li>
                                    @Html.ActionLink("Novo Post", "NovoPost", "Blog")
                                </li>
                            }
                        </ul>
                    </div>
                </div><!--/end row-->
            </div><!--/end container-->
        </div>
        <!-- End Topbar blog -->
        <!-- Navbar -->
        <div class="navbar mega-menu" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                @*<div class="res-container">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="navbar-brand">
                            <a href="index.html">
                                <img src="assets/img/logo1-default.png" alt="Logo">
                            </a>
                        </div>
                    </div>*@<!--/end responsive container-->
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-responsive-collapse">
                    <div class="res-container">
                        <ul class="nav navbar-nav">
                            <!-- Home -->
                            <li class="dropdown home active">
                                @Ajax.ActionLink("Blog", "Index", "Blog", new AjaxOptions{ UpdateTargetId="divConteudo" })
                            </li>
                            <li class="dropdown mega-menu-fullwidth">
                                @Ajax.ActionLink("Sobre", "Sobre", "Home", new AjaxOptions { UpdateTargetId = "divConteudo" })
                            </li>
                            <li class="dropdown">
                                @Ajax.ActionLink("Contato", "Contato", "Home", new AjaxOptions { UpdateTargetId = "divConteudo" })
                            </li>
                            <!-- End Home -->
                        </ul>
                    </div><!--/responsive container-->
                </div><!--/navbar-collapse-->
            </div><!--/end contaoner-->
        </div>
        <!-- End Navbar -->
    </div>
    <div class="breadcrumbs" id="divCitacao">
        <div class="container">
            <em class="pull-left">@HttpContext.Current.Session["Citacao"]</em>
        </div>
    </div>
    @*@(Request.RawUrl.Contains("Detalhar") ? " bg-color-light" : " container")"*@
    <div class="@(Request.RawUrl.Contains("Post/") ? " bg-color-light" : "")">
        <div class="content-sm container">
            <div class="row" id="divConteudo">
                @RenderBody()
            </div>
        </div>
    </div>
    <div id="footer-v2" class="footer-v2">
        <div class="footer">
            <div class="container">
                <div class="row">
                    <!-- About -->
                    <div class="col-md-6  md-margin-bottom-40">
                        <div class="headline-left margin-bottom-30">
                            <div class="headline"><h2 class="heading-sm">Sobre</h2></div>
                            @*<h2 class="headline-brd heading-sm">Sobre <span class="color-green">Mim</span></h2>*@
                        </div>
                        <p>Aspirante a <a href="http://manifesto.softwarecraftsmanship.org/#/pt-br" target="_blank">Artesão de Software</a>, apaixonado pela profissão, fazendo seu melhor para influenciar aqueles à seu redor.</p>
                        <p>Gostaria de falar comigo? entre em @Ajax.ActionLink("Contato", "Contato", "Home", new AjaxOptions { UpdateTargetId = "divConteudo" }).</p>
                        <br>
                        <ul class="list-inline social-icons-v1">
                            <li><a href="https://github.com/BrenoSarkis" target="_blank"><i class="rounded-x fa fa-github"></i></a></li>
                            <li><a href="https://twitter.com/BrenoSarkis" target="_blank"><i class="rounded-x fa fa-twitter"></i></a></li>
                            <li><a href="https://www.facebook.com/breno.sarkis.9" target="_blank"><i class="rounded-x fa fa-facebook"></i></a></li>
                            <li><a href="https://plus.google.com/u/0/117134359141519578592/about/p/pub" target="_blank"><i class="rounded-x fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="rounded-x fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <!-- End About -->
                    <!-- Link List -->
                    <div class="col-md-6 md-margin-bottom-40">
                        <div class="headline"><h2 class="heading-sm">Links</h2></div>
                        <ul class="list-unstyled link-list">
                            <li>@Ajax.ActionLink("Blog", "Index", "Blog", new AjaxOptions { UpdateTargetId = "divConteudo" })<i class="fa fa-angle-right"></i></li>
                            <li>@Ajax.ActionLink("Sobre", "Sobre", "Home", new AjaxOptions { UpdateTargetId = "divConteudo" })<i class="fa fa-angle-right"></i></li>
                            <li>@Ajax.ActionLink("Contato", "Contato", "Home", new AjaxOptions { UpdateTargetId = "divConteudo" })<i class="fa fa-angle-right"></i></li>
                        </ul>
                    </div>
                    <!-- End Link List -->
                    <!-- Latest Tweets -->
                    @*<div class="col-md-3 md-margin-bottom-40">
                        <div class="latest-tweets">
                            <div class="headline"><h2 class="heading-sm">Latest Tweets</h2></div>
                            <div class="latest-tweets-inner">
                                <i class="fa fa-twitter"></i>
                                <p>
                                    <a href="#"></a>
                                    At vero seos etodela ccusamus et
                                    <a href="#">http://t.co/sBav7dm</a>
                                    <small class="twitter-time">2 hours ago</small>
                                </p>
                            </div>
                            <div class="latest-tweets-inner">
                                <i class="fa fa-twitter"></i>
                                <p>
                                    <a href="#"></a>
                                    At vero seos etodela ccusamus et
                                    <a href="#">http://t.co/sBav7dm</a>
                                    <small class="twitter-time">4 hours ago</small>
                                </p>
                            </div>
                        </div>
                    </div>*@
                    <!-- End Latest Tweets -->
                    <!-- Address -->
                    @*<div class="col-md-3 md-margin-bottom-40">
                        <div class="headline"><h2 class="heading-sm">Contact Us</h2></div>
                        <address class="md-margin-bottom-40">
                            <i class="fa fa-home"></i>25, Lorem Lis Street, California, US <br>
                            <i class="fa fa-phone"></i>Phone: 800 123 3456 <br>
                            <i class="fa fa-globe"></i>Website: <a href="#">www.htmlstream.com</a> <br>
                            <i class="fa fa-envelope"></i>Email: <a href="mailto:info@anybiz.com">info@anybiz.com</a>
                        </address>

                        <!-- Social Links -->
                        <ul class="social-icons">
                            <li><a href="#" data-original-title="Facebook" class="rounded-x social_facebook"></a></li>
                            <li><a href="#" data-original-title="Twitter" class="rounded-x social_twitter"></a></li>
                            <li><a href="#" data-original-title="Goole Plus" class="rounded-x social_googleplus"></a></li>
                            <li><a href="#" data-original-title="Linkedin" class="rounded-x social_linkedin"></a></li>
                        </ul>
                        <!-- End Social Links -->
                    </div>*@
                    <!-- End Address -->
                </div>
            </div>
        </div><!--/footer-->
        <div class="copyright">
            <div class="container">
                <p class="text-center">Breno Sarkis @DateTime.Now.Year © All Rights Reserved.</p>
            </div>
        </div><!--/copyright-->
    </div>

    <!-- JS Global Compulsory -->
    <script type="text/javascript" src="~/assets/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/jquery/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <!-- JS Implementing Plugins -->
    <script type="text/javascript" src="~/assets/plugins/back-to-top.js"></script>
    <script type="text/javascript" src="~/assets/plugins/smoothScroll.js"></script>
    <script type="text/javascript" src="~/assets/plugins/fancybox/source/jquery.fancybox.pack.js"></script>
    <!-- JS Customization -->
    <script type="text/javascript" src="~/assets/js/custom.js"></script>
    <!-- JS Page Level -->
    <script type="text/javascript" src="~/assets/js/app.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/fancy-box.js"></script>
    <script type="text/javascript">

        jQuery(document).ready(function () {
            App.init();
            FancyBox.initFancybox();
        });
    </script>
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
</body>
</html>
